<h1>GIX</h1>

<form action="/api/info" method="post">
    <p>json test용</p>
    <textarea name="info" rows="20" style="width: 600px;">
        [
            {
                "type":0,
                "x":100,
                "y":100,
                "size":10,
                "text":"ABCD"
            } ,
            {
                "type" : 1,
                "x" : 100,
                "y" : 200,
                "width" : 200,
                "height" : 300
            }
        ]
    </textarea>
    <br><br>
    <input type="submit" />
</form>